* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 20vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease-in;
  margin-bottom: 100px;
  user-select: none;
}
.card:hover {
  transition: 0.2s ease-in;
  transform: scale(1.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
